# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Environment files
.env

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Spark / local metadata
metastore_db/
spark-warehouse/

# Logs
*.log

# Data lake folders: ignore generated data, keep folder structure
data/raw/*
data/curated/*
data/rejected/*

!data/raw/.gitkeep
!data/curated/.gitkeep
!data/rejected/.gitkeep


